# **TITANIC** **SURVIVERS** **ANALYSIS**
              
  
    *`without jack and rose`*
                by ANKIT RAJ
                razz.ankit15@gmail.com

In [35]:
import pandas as pd
import numpy as np

**READING DATA USING PANDAS**

we use pandas read.csv function to read the csv filein python and pandas DataFrame method to convert file into the data frame

In [36]:
df = pd.DataFrame(pd.read_csv('/content/train (1).csv'))
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [ ]:
df.shape

(891, 12)

No. of rows and columns, in which all Passenger informaton is stored as

**Description of the attributes of the dataset**

Pclss: Passenge

Class (1 = 1st; 2 = 2nd; 3 = 3rd)

survival: Survival (0 = No; 1 = Yes)

name: Name

sex:Sex

age: Age

sibsp: Number of Siblings/ Spouses Abroad

parch: Number of parents/Children Aboard

ticket: Ticket Number

fare: Passenger Fare (British Pound)

cabin: Cabin

embarked: Port of Embarkation (C= Cherbourg; Q = Queenstown; S = Southampton)

we are here writing code to get how many rows and colums have null value as an answer in our data.

In [ ]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Seperating out the columns which have more than 35% of the values missing in the dataset

In [ ]:
# df.isnull().sum() returns a pandas series with columns name as the label index
# and total count of null values in the column as it's value
# And we are storing only those columns which have more than 35% of the data missing.

In [ ]:
x = df.isnull().sum()

drop_col = df.isnull().sum()[df.isnull().sum()>(35/100 * df.shape[0])]
drop_col

Cabin    687
dtype: int64

NOTE: There is no specific number after which you should drop the column. it's just that we decided that on our own according to what we want.

In [ ]:
drop_col.index

Index(['Cabin'], dtype='object')

In [ ]:
df.drop(drop_col.index, axis=1, inplace=True)
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Embarked         2
dtype: int64

In [ ]:
df.fillna(df.mean(), inplace = True)
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       2
dtype: int64

Because Embarked contains string values, we see the details of that column seperately from others as strings does not have mean and all.

In [ ]:
df['Embarked'].describe()

count     889
unique      3
top         S
freq      644
Name: Embarked, dtype: object

For Embarked attribute, we fill the NULL values with the most frequent value in the column.

In [ ]:
df['Embarked'].fillna('S',inplace=True)

In [ ]:
df.isnull().sum()          ##NOW ALL THE NULL VALUES HAVE BEEN FILLED

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [37]:
df.corr()

             PassengerId  Survived    Pclass  ...     SibSp     Parch      Fare
PassengerId     1.000000 -0.005007 -0.035144  ... -0.057527 -0.001652  0.012658
Survived       -0.005007  1.000000 -0.338481  ... -0.035322  0.081629  0.257307
Pclass         -0.035144 -0.338481  1.000000  ...  0.083081  0.018443 -0.549500
Age             0.036847 -0.077221 -0.369226  ... -0.308247 -0.189119  0.096067
SibSp          -0.057527 -0.035322  0.083081  ...  1.000000  0.414838  0.159651
Parch          -0.001652  0.081629  0.018443  ...  0.414838  1.000000  0.216225
Fare            0.012658  0.257307 -0.549500  ...  0.159651  0.216225  1.000000

[7 rows x 7 columns]

sibsp: Number of Siblings/Spouses Aboard
parch: Number of Parents/ Children Aboard

So we can make a new column family_size by combining these two columns

In [38]:
df['FamilySize'] = df['SibSp']+df['Parch']
df.drop(['SibSp', 'Parch'],axis=1, inplace=True)
df.corr()

             PassengerId  Survived    Pclass       Age      Fare  FamilySize
PassengerId     1.000000 -0.005007 -0.035144  0.036847  0.012658   -0.040143
Survived       -0.005007  1.000000 -0.338481 -0.077221  0.257307    0.016639
Pclass         -0.035144 -0.338481  1.000000 -0.369226 -0.549500    0.065997
Age             0.036847 -0.077221 -0.369226  1.000000  0.096067   -0.301914
Fare            0.012658  0.257307 -0.549500  0.096067  1.000000    0.217138
FamilySize     -0.040143  0.016639  0.065997 -0.301914  0.217138    1.000000

**FamilySize in the ship does not have much correlance with survival rate**

Let's check if we weather the person was alone or not can affect the survival rate

In [39]:
df['Alone'] = [0 if df['FamilySize'][i]>0 else 1 for i in df.index]
df.head()

   PassengerId  Survived  Pclass  ... Embarked FamilySize  Alone
0            1         0       3  ...        S          1      0
1            2         1       1  ...        C          1      0
2            3         1       3  ...        S          0      1
3            4         1       1  ...        S          1      0
4            5         0       3  ...        S          0      1

[5 rows x 12 columns]

In [40]:
df.groupby(['Alone'])['Survived'].mean()

Alone
0    0.505650
1    0.303538
Name: Survived, dtype: float64

If the person is alone he/she has less cahnce of surviving

    the reason might be the person who is travelling with his family might be belonging to rich class and might be prioritized over other.

In [41]:
df[['Alone','Fare']].corr()

          Alone      Fare
Alone  1.000000 -0.271832
Fare  -0.271832  1.000000

So we can see if the person was not alone,the chance the ticket price is higher is high.

In [ ]:
df['Sex'] = [0 if df['Sex'][i]=='male' else 1 for i in df.index]  # 1 for female, 0 for male
df.groupby(['Sex'])['Survived'].mean()

Sex
0    0.188908
1    0.742038
Name: Survived, dtype: float64

It shows, female passengers have more chance of surviving than male ones

It shows women were prioritized over men.

In [ ]:
df.groupby(['Embarked'])['Survived'].mean()

Embarked
C    0.553571
Q    0.389610
S    0.336957
Name: Survived, dtype: float64

In [33]:
df.tail()

     PassengerId  Survived  Pclass  ...   Fare Cabin  Embarked
886          887         0       2  ...  13.00   NaN         S
887          888         1       1  ...  30.00   B42         S
888          889         0       3  ...  23.45   NaN         S
889          890         1       1  ...  30.00  C148         C
890          891         0       3  ...   7.75   NaN         Q

[5 rows x 12 columns]

# **CONCLUSION**



*   Female passengers were prioritized over men.
*   People with high class or rich people have higher survival rate  than others. The Hierarchy might have been followed while saving the passengers.
*    Passengers travelling with their family have higher survival rate.
*   Passengers who bored the ship at Cherbourg, survived more in proportion than the others.
*  a lots of Passengers don't have their cabin mentioned 
*   There is no mentioned of a beautiful love story characters, nor with their movie name neither with their actual real life names on which movie was based on.
* There is no Alphabetically ordered Passengers i.e All was arranged with their Passenger IDs, Titanic owner was contacted to must get the passengers list from him. 
* Passengers Corelation with their survival rate is negative, it will plot a downward graph
*  Passengers survived corelation with the age  shows us that, most young dies in accident. 
*  Passengers id correlation tells us that for higher classes fare is higher.
* Passengers class do affected the survival rate, lower class gets second chance for survival, humanity was not being followed.
* Embarked code C are Passengers who got lucky.